services:
  backend:
    build:
      context: ./backend
    ports:
      - "8001:8001"
    environment:
      - PYTHONUNBUFFERED=1

  frontend:
    build:
      context: ./frontend
    ports:
      - "5173:5173"
    environment:
      - VITE_API_BASE_URL=http://localhost:8001/api/v1
      - VITE_WS_URL=ws://localhost:8001/ws/v1/detection-stream
    depends_on:
      - backend

